* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  font-family: "Roboto";
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1440px;
  display: block;
  margin: 0 auto;
}

.section1 {
  width: 100%;
  max-width: 1170px;
  box-sizing: content-box;
  display: block;
  margin: 0 auto;
  padding-top: 120px;
}

.higher_block {
  max-width: 450px;
  margin: 0 auto;
}
.higher_block p {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #898F8F;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.higher_block h2 {
  font-family: "Roboto";
  font-size: 60px;
  line-height: 58px;
  font-weight: 900;
  color: #FFCC00;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.vector {
  position: relative;
}
.vector::before {
  content: " ";
  background-image: url(../img/Line.svg);
  position: absolute;
  top: 4px;
  left: 6px;
  width: 210px;
  height: 1px;
}
.vector::after {
  content: " ";
  background-image: url(../img/Line.svg);
  position: absolute;
  top: 4px;
  left: 234px;
  width: 210px;
  height: 1px;
}
.vector .bonfire {
  margin: 0 auto;
  display: block;
  width: 10px;
}

.section2 {
  width: 100%;
  max-width: 1030px;
  box-sizing: border-box;
  margin: 0 auto 120px;
  padding: 115px 0 60px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.section2::before {
  content: " ";
  height: 560px;
  border-right: 1px solid #FFCC00;
  position: absolute;
  top: 55px;
  left: 50%;
}

.for_photo {
  position: relative;
}
.for_photo::before {
  content: " ";
  width: 100px;
  height: 100px;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: #FFCC00;
  position: absolute;
  top: 0;
  left: 0;
}
.for_photo::after {
  content: " ";
  width: 100px;
  height: 100px;
  border-width: 1px 1px 0 0px;
  border-style: solid;
  border-color: #FFCC00;
  position: absolute;
  top: 0;
  right: 0;
}
.for_photo .left_border {
  width: 100px;
  height: 100px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #FFCC00;
  position: absolute;
  bottom: 65px;
  left: 1;
}
.for_photo .right_border {
  width: 100px;
  height: 100px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #FFCC00;
  position: absolute;
  bottom: 65px;
  right: 1px;
}
.for_photo img {
  max-width: 400px;
  width: 100%;
  justify-content: center;
  padding: 15px;
}

.for_text {
  max-width: 430px;
  box-sizing: content-box;
  padding-top: 10px;
}
.for_text h3 {
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  line-height: 34px;
  font-weight: 900;
  color: #666666;
  margin-bottom: 30px;
}
.for_text .title_border {
  width: 100px;
  height: 2px;
  border-top: 1px solid #FFCC00;
  margin: 0 auto 30px;
}
.for_text h4 {
  text-align: center;
  font-family: "Raleway";
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: #666666;
  margin-bottom: 30px;
}
.for_text p {
  text-align: center;
  font-family: "Raleway";
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 30px;
}

.social {
  width: 100%;
  max-width: 135px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 50px;
}
.social .social_icon {
  width: 100%;
  max-width: 30px;
  fill: #CCCCCC;
  stroke: #CCCCCC;
}
.social .social_icon:hover {
  max-width: 35px;
  color: #FFCC00;
  cursor: pointer;
  fill: #FFCC00;
  stroke: #FFCC00;
  transition: 0.3s ease;
}

.decore_line {
  width: 100%;
  max-width: 20px;
  border-top: 4px solid #FFCC00;
  margin: 0 auto;
  margin-bottom: 35px;
  position: relative;
}
.decore_line::before {
  content: " ";
  border-top: 4px solid #FFCC00;
  width: 10px;
  position: absolute;
  bottom: 0;
  right: 25px;
}
.decore_line::after {
  content: " ";
  border-top: 4px solid #FFCC00;
  width: 10px;
  position: absolute;
  bottom: 0;
  left: 25px;
}

.for_button {
  width: 100%;
  max-width: 130px;
  margin: 0 auto;
}
.for_button .button {
  width: 125px;
  height: 24px;
  background-color: white;
  border: none;
  outline: none;
}
.for_button .link_profile {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: #666666;
  border: 1px solid #FFCC00;
  padding: 5px 10px;
  cursor: pointer;
}
.for_button .link_profile:hover {
  color: goldenrod;
  border: 3px solid #FFCC00;
  transition: 0.3s ease;
}